<a href="https://colab.research.google.com/github/Ishy49/MLT/blob/main/preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import numpy as np
import pandas as pd

In [13]:

df = pd.read_csv("etrain_delays.csv")
df.head()

,train_number,train_name,station_code,station_name,average_delay_minutes,pct_right_time,pct_slight_delay,pct_significant_delay,pct_cancelled_unknown,scraped_at,source_url
0,12673,Cheran Express,MAS,CHENNAI CENTRAL,2.0,98.90,0.27,0.00,0.83,2025-09-27T12:25:37.767628+00:00,https://etrain.info/train/Cheran-Express-12673...
1,12673,Cheran Express,AVD,AVADI,0.0,0.27,0.00,0.00,99.73,2025-09-27T12:25:39.293769+00:00,https://etrain.info/train/Cheran-Express-12673...
2,12673,Cheran Express,AJJ,ARAKKONAM,16.0,55.34,44.38,0.27,0.01,2025-09-27T12:25:40.672610+00:00,https://etrain.info/train/Cheran-Express-12673...
3,12673,Cheran Express,KPD,KATPADI JN,17.0,48.49,49.86,1.64,0.01,2025-09-27T12:25:42.125216+00:00,https://etrain.info/train/Cheran-Express-12673...
4,12673,Cheran Express,JTJ,JOLARPETTAI,NaN,70.96,27.67,1.37,0.00,2025-09-27T12:25:44.585700+00:00,https://etrain.info/train/Cheran-Express-12673...

In [14]:
df.info()
df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1900 entries, 0 to 1899
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   train_number           1900 non-null   int64
 1   train_name             1900 non-null   object
 2   station_code           1900 non-null   object
 3   station_name           1900 non-null   object
 4   average_delay_minutes  1664 non-null   float64
 5   pct_right_time         1900 non-null   float64
 6   pct_slight_delay       1900 non-null   float64
 7   pct_significant_delay  1900 non-null   float64
 8   pct_cancelled_unknown  1900 non-null   float64
 9   scraped_at             1900 non-null   object
 10  source_url             1900 non-null   object
dtypes: float64(5), int64(1), object(5)
memory usage: 163.4+ KB

(1900, 11)

In [15]:
df.columns = ['train_number','train_name','station_code','station_name',
              'avg_delay_min','pct_right_time','pct_slight_delay',
              'pct_significant_delay','total_records','scraped_at','extra']

df.head()

,train_number,train_name,station_code,station_name,avg_delay_min,pct_right_time,pct_slight_delay,pct_significant_delay,total_records,scraped_at,extra
0,12673,Cheran Express,MAS,CHENNAI CENTRAL,2.0,98.90,0.27,0.00,0.83,2025-09-27T12:25:37.767628+00:00,https://etrain.info/train/Cheran-Express-12673...
1,12673,Cheran Express,AVD,AVADI,0.0,0.27,0.00,0.00,99.73,2025-09-27T12:25:39.293769+00:00,https://etrain.info/train/Cheran-Express-12673...
2,12673,Cheran Express,AJJ,ARAKKONAM,16.0,55.34,44.38,0.27,0.01,2025-09-27T12:25:40.672610+00:00,https://etrain.info/train/Cheran-Express-12673...
3,12673,Cheran Express,KPD,KATPADI JN,17.0,48.49,49.86,1.64,0.01,2025-09-27T12:25:42.125216+00:00,https://etrain.info/train/Cheran-Express-12673...
4,12673,Cheran Express,JTJ,JOLARPETTAI,NaN,70.96,27.67,1.37,0.00,2025-09-27T12:25:44.585700+00:00,https://etrain.info/train/Cheran-Express-12673...

In [16]:
df.isnull().sum()

train_number               0
train_name                 0
station_code               0
station_name               0
avg_delay_min            236
pct_right_time             0
pct_slight_delay           0
pct_significant_delay      0
total_records              0
scraped_at                 0
extra                      0
dtype: int64

In [18]:
df = df.dropna(subset=['avg_delay_min'])

In [19]:
df['scraped_at'] = pd.to_datetime(df['scraped_at'], errors='coerce')

df['day_of_week'] = df['scraped_at'].dt.dayofweek
df['month'] = df['scraped_at'].dt.month

In [20]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

df['train_number'] = le.fit_transform(df['train_number'])
df['station_code'] = le.fit_transform(df['station_code'])
df['station_name'] = le.fit_transform(df['station_name'])

In [21]:
df['pct_right_time'] = pd.to_numeric(df['pct_right_time'], errors='coerce')
df['pct_slight_delay'] = pd.to_numeric(df['pct_slight_delay'], errors='coerce')
df['pct_significant_delay'] = pd.to_numeric(df['pct_significant_delay'], errors='coerce')

In [22]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

df[['avg_delay_min','pct_right_time',
    'pct_slight_delay','pct_significant_delay']] = scaler.fit_transform(
    df[['avg_delay_min','pct_right_time',
        'pct_slight_delay','pct_significant_delay']]
)

In [23]:
df = df.drop(['train_name','scraped_at','extra'], axis=1, errors='ignore')

In [24]:
df.to_csv("cleaned_etrain_delays.csv", index=False)

In [28]:
print(df.columns.tolist())

['train_number', 'station_code', 'station_name', 'avg_delay_min', 'pct_right_time', 'pct_slight_delay', 'pct_significant_delay', 'total_records', 'day_of_week', 'month']

In [29]:
def get_season(month):
    if month in [12,1,2]:
        return "Winter"
    elif month in [3,4,5]:
        return "Summer"
    elif month in [6,7,8,9]:
        return "Monsoon"
    else:
        return "PostMonsoon"

df['season'] = df['month'].apply(get_season)

df[['month','season']].head()

   month   season
0      9  Monsoon
1      9  Monsoon
2      9  Monsoon
3      9  Monsoon
5      9  Monsoon

In [30]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df['season'] = le.fit_transform(df['season'])

In [31]:
df.to_csv("etrain_delays_with_season.csv", index=False)